@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

/*.alert-container {};*/

.callout-container {
    height: 100vh;

    background: url('/assets/images/whiskey-background.webp') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*.quotes-container {};*/

/*.features-container {};*/
